* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;

}

h1,
p,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kanit', sans-serif;

}

img {
    width: 100%;
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100vh auto max-content;
}


.bigpicture {
    background: #c31432;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c31432, #240b36);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c31432, #240b36);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.imeprezime {
    grid-column: 1/7;
    grid-row: 3/4;
    text-align: center;
    padding-top: 35px;
    line-height: 2px;
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    justify-self: center;
    align-self: center;
}

.email {
    font-size: 30px;
}

.linkovi {
    margin-left: 20px;
    grid-column: 1/2;
    grid-row: 2/5;
    justify-self: start;
    align-self: center;
}

.linkovi>a {
    display: block;
}



nav {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    position: fixed;
    left: 0;
    right: 0;

}

.navigacija2 {
    animation-name: colorChanger;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

@keyframes colorChanger {

    20% {
        background: none;
    }

    100% {

        background: #5b0f32;
        border-bottom: 5px solid rgb(194, 192, 192);
    }
}


nav>ul {
    list-style-type: none;
    font-weight: bolder;
    margin: 0;
    width: 100%;
    padding: 10px;

}

nav>ul>li {
    display: inline;
}


li a {
    color: black;
    text-align: center;
    padding: 16px;
    font-size: 19px;
    text-decoration: none;
}

.menu-toggle {


    font-size: 40px;
    display: none;


}

.menu-toggle>i {
    cursor: pointer;
}


.information {
    grid-column: 1/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.skola1 {
    background: linear-gradient(#aa0041, #540316);
    color: white;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    font-family: 'Karla', sans-serif;
    text-align: center;

}


.skola2 {
    background: linear-gradient(#aa0041, #540316);
    color: white;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    font-family: 'Karla', sans-serif;
    text-align: center;
}

.logoSkola {
    padding: 20px;
    grid-column: 1/2;
    grid-row: 1/4;
    justify-self: center;
    align-self: center;
}

.logoSkola>img {
    width: 100%;
}

.infoSkola {
    grid-column: 2/4;
    grid-row: 1/4;
    padding: 10px;
    justify-self: center;
    align-self: center;
}

.projekti {
    grid-row: 3/4;
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 400px;
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.projekatNaslov {
    grid-column: 1/6;
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
    color: white;
}

.projekatBox1 {
    grid-column: 1/2;
    grid-row: 2/3;
    background: url("https://picsum.photos/id/1023/500/400");
    background-size: cover;

}

.projekatBox2 {
    grid-column: 2/3;
    grid-row: 2/3;
    background: url("https://picsum.photos/id/1024/500/400");
    background-size: cover;

}

.projekatBox3 {
    grid-column: 3/4;
    grid-row: 2/3;
    background: url("https://picsum.photos/id/1025/500/400");
    background-size: cover;

}

.projekatBox {
    display: grid;
    grid-template-columns: 1fr;
}

.projekatBox>.opisProjekta {
    grid-column: 1/2;
    color: white;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    width: 100%;
    height: 100%;
    background: rgba(15, 12, 29, 0.8);
}


.projekatBox:hover>.opisProjekta {
    visibility: visible;
    opacity: 1;

}

.projekatBox>.opisProjekta>.dodatno {
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
}

.aLink {
    text-decoration: none;
    color: white;
    transition: color 500ms linear;
}

.aLink:hover {
    color: green;
}

/* MEDIA QUERIES */

@media(max-width:423px) {
    .bigpicture {
        background: url("trianglify.png");
        background-size: cover;
        grid-column: 1/4;
        grid-row: 1/2;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .imeprezime {
        grid-column: 1/7;
        grid-row: 3/4;
        text-align: center;
        padding-top: 35px;
        line-height: 1.5px;
        font-family: 'Kanit', sans-serif;
        justify-self: center;
        align-self: center;
    }

    .linkovi {
        grid-column: 1/2;
        grid-row: 2/5;
        justify-self: start;
        align-self: center;
        margin-top: 50px;
    }

}

@media(max-width:750px) {

    nav {
        position: absolute;
        width: 100%;
        height: 45%;
        background: linear-gradient(#aa0041, #540316);
        left: -100%;
        top: 65px;
        transition: 0.5s;
    }

    nav.active {
        left: 0;
        top: 65px;
    }

    nav ul a {
        text-align: center;
        display: block;
    }

    .menu-toggle {
        grid-column: 1/7;
        align-self: start;
        padding: 10px;
        display: block;
        background: linear-gradient(#aa0041, #540316);
    }

    .linkovi {
        grid-column: 1/7;
        grid-row: 4/5;
        justify-self: center;
        align-self: center;
        margin-left: 0;
    }

    .linkovi>a {
        display: inline;
        padding: 10px;
    }

    .linkovi>a>img {
        width: 32px;
        height: 32px;
    }

    .projekti {

        grid-template-columns: 1fr;
        grid-template-rows: 150px repeat(3, 350px);

    }

    .projekatNaslov {
        grid-column: 1/2;
        grid-row: 1/2;
        justify-self: center;
        align-self: center;
        color: white;
    }

    .projekatBox1 {
        grid-column: 1/2;
        grid-row: 2/3;
        background: url("https://picsum.photos/id/1023/500/400");
        background-size: cover;

    }

    .projekatBox2 {
        grid-column: 1/2;
        grid-row: 3/4;
        background: url("https://picsum.photos/id/1024/500/400");
        background-size: cover;

    }

    .projekatBox3 {
        grid-column: 1/2;
        grid-row: 4/5;
        background: url("https://picsum.photos/id/1025/500/400");
        background-size: cover;

    }

    .projekatBox>.opisProjekta {

        visibility: visible;
        opacity: 1;
        transition: visibility 0s, opacity 0.5s linear;
        width: 100%;
        height: 100%;
        background: rgba(15, 12, 29, 0.9);
    }


    .projekatBox:hover>.opisProjekta {
        visibility: visible;
        opacity: 1;

    }

    .projekatBox>.opisProjekta>.dodatno {
        grid-column: 1/2;
        align-self: center;
        justify-self: center;
    }

    .aLink {
        text-decoration: none;
        color: white;
        transition: color 500ms linear;
    }

    .aLink:hover {
        color: white;
    }


}

@media(max-width:900px) {
    .information {
        grid-column: 1/4;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .skola2 {
        background: linear-gradient(#540316, #aa0041);
        color: white;
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        font-family: 'Karla', sans-serif;
        text-align: center;
    }
}

@media(max-width:1000px) {
    .imeprezime {

        font-size: 30px;
    }

    .email {
        font-size: 20px;
    }
}